body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: #1e1e1e;
    color: #fff;
}

body, html, * {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}


.navbar {
    background-color: #333;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    transition: transform 0.3s ease-in-out;
}

.menu-icon span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 4px 0;
    transition: transform 0.3s ease-in-out;
}

.menu-icon:hover {
    transform: translateY(-2px);
}

.menu-icon:hover span:nth-child(1) {
    transform: translateY(-2px);
}

.menu-icon:hover span:nth-child(2) {
    transform: translateY(2px);
}

.menu-icon:hover span:nth-child(3) {
    transform: translateY(4px);
}

.sidebar {
    height: 100%;
    width: 0; /* Ensure the sidebar is initially hidden */
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: width 0.3s ease-in-out;
    padding-top: 60px;
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.6);
}

.sidebar a {
    padding: 12px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, padding-left 0.3s ease-in-out;
}

.sidebar a:hover {
    color: #ff4c4c; /* Highlight color on hover */
    background-color: #444;
    padding-left: 32px; /* Slight movement on hover */
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 60px;
}

.content {
    padding: 80px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item {
    background-color: #2e2e2e;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.8);
    transform: translateY(-4px);
    transition: transform 0.2s ease-in-out;
}

.menu-item:hover {
    transform: translateY(-8px);
}

.menu-item-header {
    display: flex;
    align-items: center;
}

.menu-item-header img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}

.menu-item h2 {
    margin: 0;
}

.read-more {
    color: #ff4c4c;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    transition: text-decoration 0.2s ease-in-out;
}

.read-more:hover {
    text-decoration: underline;
}

